<div class="content">
<div class="row">
<div class="small-12 columns">

<article> 
<div class="{{post_class}}">
<div class="postcontent">
<h1><span>{{title}}</span></h1>
{{content}}
</div>
<div class="meta">
<div class="row">
<div class="small-8 large-8 medium-8 columns">
<i class="fa fa-clock-o"></i> {{date published_at timeago="true"}}, <i class="fa fa-user"></i> by {{author.name}}{{#if tags}}, <i class="fa fa-tags"></i> on {{tags}}{{/if}}
</div>
<div class="small-4 large-4 medium-4 columns">
{{! Share Buttons }} 
  <div class="shareit">
 <div class="social-likes social-likes_single">
  <div class="facebook" title="Share link on Facebook">Facebook</div>
  <div class="twitter" data-via="{{@blog.title}}" data-related="{{encode title}}" title="Share link on Twitter">Twitter</div>
  <div class="plusone" title="Share link on Google+">Google+</div>
</div>
</div>
</div>
</div>
</article>

</div>

</article>

</div>
</div>
</div>