{{! Navigation }}
    <div class="main-nav">
    <div class="row">
    <div class="small-12 columns">
 <nav class="desktop-menu">
  <ul class="sf-menu">
   <li><div title="yo" id="yo-button"></div></li>
   <li><a href="{{@blog.url}}/home">STARTARE</a></li>
   <li><a href="">CUISSONS</a>
    <ul>
     <li><a href="{{@blog.url}}/tag/cru/">CRU</a></li>
     <li><a href="{{@blog.url}}/tag/bleu/">BLEU</a></li>
     <li><a href="{{@blog.url}}/tag/apoint/">A POINT</a></li>
    </ul>
   </li>
   <li><a href="">RECETTES</a></li>
  </ul>

</nav>
</div>
</div>
</div>

   <nav class="mobile-menu">
   <ul>
   <li><div title="yo" id="yo-button"></div></li>
   <li><a href="{{@blog.url}}/home">STARTARE</a></li>
    <li><a href="">CATEGORIES</a>
   <ul>
     <li><a href="{{@blog.url}}/tag/cru/"></a>CRU</li>
     <li><a href="{{@blog.url}}/tag/bleu/">BLEU</a></li>
     <li><a href="{{@blog.url}}/tag/apoint/">A POINT</a></li>
   </ul>
   </li>
   <li><a href="">RECETTES</a></li>
  </ul>
  </nav>
